:root {
  --bs-font-sans-serif: "Abril Fatface", cursive !important;
  font-size: 1.25rem;
  --bs-font-roboto: "Roboto", sans-serif;
}

:root {
  --color-bg: #ede6db;
  --color-third: #417d7a;
  --color-secondary: #f8b400;
  --color-primary: #1a3c40;
  --color-fourth: #f55353;
  --color-black: #1b1a17;
  /* --color-fifth: #4e9c81;
    --color-sixth: #358873;
    --color-bg: #207567; */
}

.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  list-style: none;
  background: transparent;
}

ul {
  padding: 0;
}
ul li.empty {
  cursor: default;
}

a,
.title {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
li {
  color: var(--color-secondary);
}

body {
  background-color: white;
}

.hero {
  background-color: var(--color-bg);
}

.hero img:hover,
.datasetBlok img:hover,
.button-primary:hover,
.button-secondary:hover,
.carousel-card img:hover,
.buttonInput:hover {
  transform: scale(1.05);
  transition: all ease 0.5s;
}

p {
  font-family: var(--bs-font-roboto);
  font-weight: 300;
}

.text-important {
  color: var(--color-fourth);
}

.rounded {
  border-radius: 0.75rem !important;
}
.roundedTop {
  border-radius: 0.75rem 0.75rem 0 0;
}
.rounded2 {
  border-radius: 0.5rem;
}
.roundedBottom {
  border-radius: 0 0 0.75rem 0.75rem;
}

.hero img {
  width: 40%;
  height: fit-content;
}

.italic {
  font-style: italic;
}

.logo {
  filter: invert(19%) sepia(85%) saturate(396%) hue-rotate(113deg)
    brightness(97%) contrast(101%);
  width: 25%;
}

.logo img {
  width: 25%;
}

.line {
  border: 1px solid var(--color-primary);
  margin-block: 3rem;
}

.dataset {
  width: fit-content;
  background-image: linear-gradient(
    to bottom left,
    var(--color-third),
    var(--color-primary)
  );
  padding: 1rem 1rem 5rem 1rem;
  color: white;
}

.datasetBlok {
  border: white 1px solid;
}

.img1 {
  border-top-left-radius: 0.75rem;
}

.img1 {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.img2 {
  box-shadow: rgb(0 0 0 / 45%) 10px 15px 30px 0px;
}

.img3 {
  border-top-right-radius: 0.75rem;
}

.img4 {
  box-shadow: rgb(0 0 0 / 45%) 10px 15px 30px 0px;
}

.datasetText h3 {
  margin: 0;
  margin-left: 0.75rem;
  font-size: 0.75rem;
}

.datasetText i {
  font-size: 0.5rem;
}

.datasetText p {
  text-align: justify;
}

.datasetTextTitle {
  font-size: 1.0375rem;
  font-weight: bold;
  margin: 0;
}

.datasetTextDesc {
  font-size: 0.75rem;
  font-weight: 300;
}

button,
.buttonInput,input[type='submit'] {
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.75rem;
  font-family: var(--bs-font-roboto);
  font-weight: bold;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.button-primary,
.buttonInput {
  background-color: var(--color-secondary);
  /* opacity: 0.75; */
}
.button-secondary {
  background-color: var(--color-fourth);
  /* opacity: 0.75; */
}

.button-primary:disabled {
  opacity: 50%;
  background-color: gray;
}
.button-secondary:disabled {
  opacity: 50%;
  background-color: gray;
}

.iconContact i {
  font-size: 2rem;
  margin-right: 0.125rem;
  opacity: 30%;
  color: var(--color-third);
}
.iconContact a.active i {
  opacity: 100%;
}

.carousel-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.carousel-card h4 {
  font-size: 1rem;
}
.carousel-card p {
  font-size: 0.75rem;
}

.carousel-inner {
  padding-right: 3rem;
}

.record {
  background-image: url("../static/images/v870-tang-35.jpg");
  background-position: center;
  background-size: 100%;
  margin: 3rem -3rem;
}

.record i {
  font-size: 2rem;
  color: white;
  background-color: var(--color-black);
  padding: 4rem;
  margin: 0.5rem;
  border-radius: 5rem;
}

.recordBox {
  background: white;
  width: 45%;
  /* margin-inline: auto; */
  padding: 1.75rem;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--color-primary);
}

.copyright {
  /* width: 100%; */
  text-align: center;
  font-family: var(--bs-font-roboto);
  background-color: var(--color-black);
  color: #fff;
  margin: -3rem;
  font-size: 0.75rem;
}

.result {
  background-color: var(--color-bg);
  /* color: var(--color-primary); */
  color: var(--color-black);
  padding: 1rem;
  /* margin-inline: auto; */
}

.result img {
  margin: 1rem;
  /* display: flex; */
  max-width: 15vw;
  /* border: 0.25rem solid white; */
  border-radius: 3rem;
}
.boxResult {
  margin: 0rem auto;
  /* border: 1px solid var(--color-primary); */
  /* text-align: center; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.boxResult p {
  color: var(--color-black) !important;
  /* margin: 1rem; */
  font-size: 1.25rem;
  /* font-family: var(--bs-font-roboto) !important; */
  /* text-indent: 1rem; */
  /* font-weight: bolder !important; */
}

.result p {
  /* color: var(--color-secondary); */
  /* font-weight: bold; */
  /* font-family: var(--bs-font-roboto); */
  text-align: center;
  margin: 0 0 1.5rem 0;
}

.result button {
  background-color: white;
  color: var(--color-black);
  margin: 0 auto;
  display: flex;
  position: relative;
  top: -1rem;
}

progress {
  width: 50%;
}

#loading {
  display: none;
  right: 0;
  left: 0;
  margin: 12px auto;
  position: absolute;
  z-index: 1000;
  width: 30rem;
  height: 30rem;
  background: url(../static/images/Loader.gif) no-repeat;
  background-size: contain;
  cursor: wait;
}

#Test {
  opacity: 1;
}

.verticalLine {
  border-left: 3px solid var(--color-black);
  height: 100%;
}

.or {
  margin: 0;
  margin-block: 1rem;
  font-weight: bold;
  color: var(--color-blackb);
}

.recordInput {
  text-align: center;
  color: var(--color-black);
  padding-block: 5rem;
}

.titleInput {
  font-size: 1.5rem;
  font-family: var(--bs-font-sans-serif);
}

.labelInput {
  font-weight: bold;
}
.requiredInput {
  opacity: 0.75;
}

.buttonInput {
  cursor: pointer;
}

input[type="submit"]{
  color: white;
  border: none;
  font-family: var(--bs-font-roboto);
}
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .logo img {
    width: 100%;
  }
  .topnav .expandable {
    display: none;
  }

  .topnav.responsive .expandable {
    display: block;
  }

  .topnav.responsive {
    background-color: var(--color-bg);
    transition: all 0.5s ease-in-out;
  }

  .topnav.responsive .topnavbar {
    border-bottom: 1px var(--color-primary) solid;
  }

  .topnav.responsive li {
    margin-block: 0.5rem;
  }

  .hero img {
    width: 100%;
    height: fit-content;
  }

  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.3rem);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw - 0.3rem);
  }
  a,
  p,
  .datasetTextTitle {
    font-size: calc(1rem - 0.3rem) !important;
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw - 0.3rem) !important;
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw - 0.3rem) !important;
  }
  .img1 {
    border-top-right-radius: 0.75rem;
  }
  .carousel-inner {
    padding: 0;
    /* width: 75%; */
  }
  .carousel-card img {
    width: 100% !important;
  }
  .record,
  .copyright {
    margin: 0;
  }
  .record i {
    font-size: 1rem;
    padding: 1rem;
  }
  .recordBox {
    /* padding: 5rem; */
    width: 100%;
  }
  label#minutes,
  label#seconds {
    margin-block: 1rem;
  }
  progress {
    width: 100% !important;
  }
  #loading {
    margin: 150px auto;
    width: 17rem;
    height: 20rem;
  }
  .boxResult {
    width: 100%;
  }
  .result img {
    max-width: 7rem;
  }
  .verticalLine{
    border-left: none;
    border-bottom: 1px solid var(--color-black);
    width: 100%;
  }
  .or{
    margin: 1rem;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  /* Styles */
  .hero {
    background-color: transparent;
  }
  .hero img {
    width: 85%;
    height: fit-content;
    display: inline;
  }
  .title {
    background-color: var(--color-bg);
    position: relative;
    top: -2.5rem;
    z-index: -1;
    text-align: center;
  }
  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.2rem);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw - 0.2rem);
  }
  a,
  h4 {
    font-size: calc(1.275rem + 0.3vw - 0.2rem) !important;
  }
  p,
  .datasetTextTitle {
    font-size: calc(1rem - 0.2rem);
  }
  button {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }
  .dataset {
    padding: 1rem 2rem 5rem 2rem;
  }
  .carousel-card img {
    width: 85% !important;
  }
  .record i {
    font-size: 2rem;
    padding: 2rem;
  }
  #loading {
    width: 27rem;
  }
  .boxResult {
    width: 75%;
  }
  .result img {
    max-width: 8rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1024px) {
  /* Styles */
  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.1rem);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw - 0.1rem);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw - 0.1rem) !important;
  }
  a,
  p,
  .datasetTextTitle {
    font-size: calc(1rem - 0.1rem);
  }
  .dataset {
    padding: 1rem 2rem 5rem 2rem;
  }
  .carousel-card img {
    width: 50% !important;
  }
  .carousel-indicators {
    left: 7rem;
    top: 12rem;
  }
  .boxResult {
    width: 50%;
  }
  .result img {
    max-width: 15rem;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1440px) {
  .dataset {
    padding: 1rem 4rem 5rem 4rem;
  }
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }
  a,
  p,
  .datasetTextTitle {
    font-size: calc(1rem);
  }
  .carousel-card img {
    width: 35% !important;
  }
}
@media only screen and (min-width: 2560px) {
  /* Styles */
  h1 {
    font-size: calc(1.375rem + 1.5vw + 0.5rem);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw + 0.5rem);
  }
  h3 {
    font-size: calc(1.75rem + 0.5rem) !important;
  }
  a,
  p,
  .datasetTextTitle,
  button {
    font-size: calc(1rem + 0.5rem) !important;
  }
  .dataset {
    padding: 1rem 2rem 5rem 2rem;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
