:root {
  --bs-font-sans-serif: "Abril Fatface", cursive !important;
  font-size: 1.25rem;
  --bs-font-roboto: "Roboto", sans-serif;
}

:root {
  --color-bg: #ede6db;
  --color-third: #417d7a;
  --color-secondary: #f8b400;
  --color-primary: #1a3c40;
  --color-fourth: #f55353;
  --color-black: #1b1a17;
  /* --color-fifth: #4e9c81;
    --color-sixth: #358873;
    --color-bg: #207567; */
}

.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  list-style: none;
  background: transparent;
}

ul {
  padding: 0;
}

a,
.title {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
li {
  color: var(--color-secondary);
}

body {
  background-color: white;
}

.hero {
  background-color: var(--color-bg);
}

p {
  font-family: var(--bs-font-roboto);
  font-weight: 300;
}

.text-important {
  color: var(--color-fourth);
}

.rounded {
  border-radius: 0.75rem !important;
}
.rounded2 {
  border-radius: 0.5rem;
}

.hero img {
  width: 40%;
  height: fit-content;
}

.italic {
  font-style: italic;
}

.logo {
  filter: invert(19%) sepia(85%) saturate(396%) hue-rotate(113deg)
    brightness(97%) contrast(101%);
  width: 25%;
}

.logo img {
  width: 25%;
}

.line {
  border: 1px solid var(--color-secondary);
  margin-block: 3rem;
}

.dataset {
  width: fit-content;
  background-image: linear-gradient(
    to bottom left,
    var(--color-third),
    var(--color-primary)
  );
  padding: 1rem 1rem 5rem 1rem;
  color: white;
}

.datasetBlok {
  border: white 1px solid;
}

.img1 {
  border-top-left-radius: 0.75rem;
}

.img1 {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.img2 {
  box-shadow: rgb(0 0 0 / 45%) 10px 15px 30px 0px;
}

.img3 {
  border-top-right-radius: 0.75rem;
}

.img4 {
  box-shadow: rgb(0 0 0 / 45%) 10px 15px 30px 0px;
}

.datasetText h3 {
  margin: 0;
  margin-left: 0.75rem;
  font-size: 0.75rem;
}

.datasetText i {
  font-size: 0.5rem;
}

.datasetText p {
  text-align: justify;
}

.datasetTextTitle {
  font-size: 1.0375rem;
  font-weight: bold;
  margin: 0;
}

.datasetTextDesc {
  font-size: 0.75rem;
  font-weight: 300;
}

button {
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.75rem;
  font-family: var(--bs-font-roboto);
  font-weight: bold;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.button-primary {
  background-color: var(--color-secondary);
}
.button-secondary {
  background-color: var(--color-fourth);
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .logo img {
    width: 100%;
  }
  .topnav .expandable {
    display: none;
  }

  .topnav.responsive .expandable {
    display: block;
  }

  .topnav.responsive {
    background-color: var(--color-bg);
    transition: all 0.5s ease-in-out;
  }

  .topnav.responsive .topnavbar {
    border-bottom: 1px var(--color-primary) solid;
  }

  .topnav.responsive li {
    margin-block: 0.5rem;
  }

  .hero img {
    width: 100%;
    height: fit-content;
  }

  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.3rem);
  }
  h2 {
    font-size: calc(1.325rem + .9vw - 0.3rem);
  }
  a,
  p,.datasetTextTitle {
    font-size: calc(1rem - 0.3rem);
  }
  .img1{
    border-top-right-radius: 0.75rem;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  /* Styles */
  .hero {
    background-color: transparent;
  }
  .hero img {
    width: 85%;
    height: fit-content;
    display: inline;
  }
  .title {
    background-color: var(--color-bg);
    position: relative;
    top: -2.5rem;
    z-index: -1;
    text-align: center;
  }
  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.2rem);
  }
  h2 {
    font-size: calc(1.325rem + .9vw - 0.3rem);
  }
  a,
  p,.datasetTextTitle {
    font-size: calc(1rem - 0.2rem);
  }
  button{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }
  .dataset{
    padding: 1rem 2rem 5rem 2rem;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1024px) {
  /* Styles */
  h1 {
    font-size: calc(1.375rem + 1.5vw - 0.1rem);
  }
  h2 {
    font-size: calc(1.325rem + .9vw - 0.3rem);
  }
  a,
  p,.datasetTextTitle {
    font-size: calc(1rem - 0.1rem);
  }
  .dataset{
    padding: 1rem 2rem 5rem 2rem;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1440px) {
  .dataset{
    padding: 1rem 4rem 5rem 4rem;
  }
}
@media only screen and (min-width: 2560px) {
  /* Styles */
  h1 {
    font-size: calc(1.375rem + 1.5vw + 0.5rem);
  }
  h2 {
    font-size: calc(1.325rem + .9vw + 0.5rem);
  }
  h3{
    font-size: calc(1.75rem + 0.5rem) !important;
  }
  a,
  p,.datasetTextTitle,button {
    font-size: calc(1rem + 0.5rem) !important;
  }
  .dataset{
    padding: 1rem 2rem 5rem 2rem;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
